<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.lwtch.tessocr.scanner" version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>TessocrScanner</name>
    <js-module name="TessocrScanner" src="www/TessocrScanner.js">
        <clobbers target="cordova.plugins.TessocrScanner" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="TessocrScanner">
                <param name="android-package" value="com.lwtch.tessocr.scanner.TessocrScanner" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA"/>
            <uses-feature android:name="android.hardware.camera.autofocus" />
            <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
            <uses-feature android:name="android.hardware.camera" />
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <activity android:name="com.lwtch.tessocr.scanner.CameraActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|screenSize" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:windowSoftInputMode="stateAlwaysHidden" android:label="@string/app_name">
            </activity>
        </config-file>
        <source-file src="src/android/TessocrScanner.java" target-dir="src/com/lwtch/tessocr/scanner" />
        <source-file src="src/android/CameraActivity.java" target-dir="src/com/lwtch/tessocr/scanner" />
        <source-file src="src/android/core/AutoFocusEngine.java" target-dir="src/com/lwtch/tessocr/scanner/core" />
        <source-file src="src/android/core/CameraEngine.java" target-dir="src/com/lwtch/tessocr/scanner/core" />
        <source-file src="src/android/core/CameraUtils.java" target-dir="src/com/lwtch/tessocr/scanner/core" />
        <source-file src="src/android/core/dialogs/ImageDialog.java" target-dir="src/com/lwtch/tessocr/scanner/core/dialogs" />
        <source-file src="src/android/core/extraviews/FocusBoxUtils.java" target-dir="src/com/lwtch/tessocr/scanner/core/extraviews" />
        <source-file src="src/android/core/extraviews/FocusBoxView.java" target-dir="src/com/lwtch/tessocr/scanner/core/extraviews" />
        <source-file src="src/android/core/imaging/Tools.java" target-dir="src/com/lwtch/tessocr/scanner/core/imaging" />
        <source-file src="src/android/core/imaging/PlanarYUVLuminanceSource.java" target-dir="src/com/lwtch/tessocr/scanner/core/imaging" />
        <source-file src="src/android/core/imaging/LuminanceSource.java" target-dir="src/com/lwtch/tessocr/scanner/core/imaging" />
        <source-file src="src/android/core/imaging/InvertedLuminanceSource.java" target-dir="src/com/lwtch/tessocr/scanner/core/imaging" />
        <source-file src="src/android/core/tesstool/TessAsyncEngine.java" target-dir="src/com/lwtch/tessocr/scanner/core/tesstool" />
        <source-file src="src/android/core/tesstool/TessDataManager.java" target-dir="src/com/lwtch/tessocr/scanner/core/tesstool" />
        <source-file src="src/android/core/tesstool/TessEngine.java" target-dir="src/com/lwtch/tessocr/scanner/core/tesstool" />

        <!--drawable-->
        <source-file src="src/android/res/drawable/focus_normal.png" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/focus_touch.png" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/normal_glow.png" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/scan_normal.png" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/scan_normal_glow.png" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/scan_touch.png" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/scan_touch_glow.png" target-dir="res/drawable" />
        <!--drawable-hdpi-->
        <source-file src="src/android/res/drawable-hdpi/ic_launcher.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/scan_normal_glow.png" target-dir="res/drawable-hdpi" />
        <!--drawable-mdpi-->
        <source-file src="src/android/res/drawable-mdpi/focus_layout.xml" target-dir="res/drawable-mdpi" />
        <source-file src="src/android/res/drawable-mdpi/ic_launcher.png" target-dir="res/drawable-mdpi" />
        <source-file src="src/android/res/drawable-mdpi/shutter_layout.xml" target-dir="res/drawable-mdpi" />
        <!--drawable-xhdpi-->
        <source-file src="src/android/res/drawable-xhdpi/ic_launcher.png" target-dir="res/drawable-xhdpi" />
        <!--drawable-xxhdpi-->
        <source-file src="src/android/res/drawable-xxhdpi/ic_launcher.png" target-dir="res/drawable-xxhdpi" />
        <!--menu-->
        <source-file src="src/android/res/menu/menu_main.xml" target-dir="res/menu" />
        <!--layout-->
        <source-file src="src/android/res/layout/activity_main.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/image_dialog.xml" target-dir="res/layout" />
        <!--raw-->
        <source-file src="src/android/res/raw/eng_traineddata" target-dir="res/raw" />
        <!--values-->
        <source-file src="src/android/res/values/colors.xml" target-dir="res/values" />
        <source-file src="src/android/res/values/dimens.xml" target-dir="res/values" />
        <source-file src="src/android/res/values/styles.xml" target-dir="res/values" />
        <source-file src="src/android/res/values/tessocr_strings.xml" target-dir="res/values" />
        <!--values-v21-->
        <source-file src="src/android/res/values/styles.xml" target-dir="res/values-v21" />
        <!--values-w820dp-->
        <source-file src="src/android/res/values-w820dp/dimens.xml" target-dir="res/values-w820dp" />
        <!--framework-->
        <framework src="build.gradle" custom="true" type="gradleReference" />

    </platform>
</plugin>