<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.lwtch.tesseract.scanner" 
    version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>TesseractScanner</name>
    <js-module name="TesseractScanner" 
        src="www/TesseractScanner.js">
        <clobbers target="cordova.plugins.TesseractScanner" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" 
            target="res/xml/config.xml">
            <feature name="TesseractScanner">
                <param name="android-package" 
                    value="com.lwtch.tesseract.scanner.TesseractScanner" />
            </feature>
        </config-file>
        <config-file parent="/manifest/application" 
            target="AndroidManifest.xml">
            <activity android:label="ScannerActivity" 
                android:name="com.lwtch.tesseract.scanner.ScannerActivity"></activity>
        </config-file>
        <source-file src="src/android/TesseractScanner.java" 
            target-dir="src/com/lwtch/tesseract/scanner" />
        <source-file src="src/android/ScannerActivity.java" 
            target-dir="src/com/lwtch/tesseract/scanner" />
        <!--camera-->
        <source-file src="src/android/camera/AutoFocusCallback.java" 
            target-dir="src/com/lwtch/tesseract/scanner/camera" />
        <source-file src="src/android/camera/CameraConfigurationManager.java" 
            target-dir="src/com/lwtch/tesseract/scanner/camera" />
        <source-file src="src/android/camera/CameraConfigurationUtils.java" 
            target-dir="src/com/lwtch/tesseract/scanner/camera" />
        <source-file src="src/android/camera/CameraManager.java" 
            target-dir="src/com/lwtch/tesseract/scanner/camera" />
        <source-file src="src/android/camera/PreviewCallback.java" 
            target-dir="src/com/lwtch/tesseract/scanner/camera" />
        <!--decode-->
        <source-file src="src/android/decode/CaptureActivityHandler.java" 
            target-dir="src/com/lwtch/tesseract/scanner/decode" />
        <source-file src="src/android/decode/DecodeHandler.java" 
            target-dir="src/com/lwtch/tesseract/scanner/decode" />
        <source-file src="src/android/decode/DecodeImageCallback.java" 
            target-dir="src/com/lwtch/tesseract/scanner/decode" />
        <source-file src="src/android/decode/DecodeImageThread.java" 
            target-dir="src/com/lwtch/tesseract/scanner/decode" />
        <source-file src="src/android/decode/DecodeManager.java" 
            target-dir="src/com/lwtch/tesseract/scanner/decode" />
        <source-file src="src/android/decode/DecodeThread.java" 
            target-dir="src/com/lwtch/tesseract/scanner/decode" />
        <source-file src="src/android/decode/FinishListener.java" 
            target-dir="src/com/lwtch/tesseract/scanner/decode" />
        <source-file src="src/android/decode/InactivityTimer.java" 
            target-dir="src/com/lwtch/tesseract/scanner/decode" />
        <!--tess-->
        <source-file src="src/android/tess/TessDataManager.java" 
            target-dir="src/com/lwtch/tesseract/scanner/tess" />
        <source-file src="src/android/tess/TessEngine.java" 
            target-dir="src/com/lwtch/tesseract/scanner/tess" />
        <source-file src="src/android/tess/TesseractCallback.java" 
            target-dir="src/com/lwtch/tesseract/scanner/tess" />
        <source-file src="src/android/tess/TesseractThread.java" 
            target-dir="src/com/lwtch/tesseract/scanner/tess" />
        <!--utils-->
        <source-file src="src/android/utils/QrUtils.java" 
            target-dir="src/com/lwtch/tesseract/scanner/utils" />
        <source-file src="src/android/utils/ScreenUtils.java" 
            target-dir="src/com/lwtch/tesseract/scanner/utils" />
        <source-file src="src/android/utils/Tools.java" 
            target-dir="src/com/lwtch/tesseract/scanner/utils" />
        <!--view-->
        <source-file src="src/android/view/ImageDialog.java" 
            target-dir="src/com/lwtch/tesseract/scanner/view" />
        <source-file src="src/android/view/ScannerFinderView.java" 
            target-dir="src/com/lwtch/tesseract/scanner/view" />
        <!--layout-->
        <source-file src="src/android/res/layout/activity_scanner.xml" 
            target-dir="res/layout"/>
        <source-file src="src/android/res/layout/image_dialog.xml" 
            target-dir="res/layout"/>
        <source-file src="src/android/res/layout/layout_surface_view.xml" 
            target-dir="res/layout"/>
        <!--raw-->
        <source-file src="src/android/res/raw/beep.ogg" 
            target-dir="res/raw"/>
        <source-file src="src/android/res/raw/eng_traineddata" 
            target-dir="res/raw"/>
        <!--values-->
        <source-file src="src/android/res/values/colors.xml" 
            target-dir="res/values"/>
        <source-file src="src/android/res/values/dimens.xml" 
            target-dir="res/values"/>
        <source-file src="src/android/res/values/ids.xml" 
            target-dir="res/values"/>
        <source-file src="src/android/res/values/lwtch_strings.xml" 
            target-dir="res/values"/>
        <!--values-w820dp-->
        <source-file src="src/android/res/values-w820dp/dimens.xml" 
            target-dir="res/values-w820dp"/>
        <framework src="build.gradle" 
            custom="true" 
            type="gradleReference" />
    </platform>
</plugin>