<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.example.sample.plugin" version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>PluginName</name>
    <js-module name="PluginName" src="www/PluginName.js">
        <clobbers target="cordova.plugins.PluginName" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="PluginName">
                <param name="android-package" value="com.example.sample.plugin.PluginName" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-feature android:name="android.hardware.camera" android:required="true" />
            <uses-feature android:name="android.hardware.camera.autofocus" android:required="true" />
        </config-file>
        <source-file src="src/android/PluginName.java" target-dir="src/com/example/sample/plugin" />
        <source-file src="src/android/CustomCameraPreview.java" target-dir="src/com/example/sample/plugin" />
        <source-file src="src/android/ScannerFinderView.java" target-dir="src/com/example/sample/plugin" />
        <source-file src="src/android/ScreenUtils.java" target-dir="src/com/example/sample/plugin" />
        <source-file src="src/android/activity_scanner.xml" target-dir="res/layout" />
        <source-file src="src/android/colors.xml" target-dir="res/values" />
    </platform>
</plugin>
